*{
    margin: 0;
    padding: 0;
}

header{
    height: 35px;
    line-height: 35px;
    background-color: lightgray;
    text-align: center;
}

header a{
    text-decoration: none;
    color: black;
    font-weight: bolder;    
}

header a:hover{
    text-decoration: underline;
}

h1{
    text-align: center;
    margin: 40px;
}

main{
    background-color: lightgray;
    width: 900px;
    margin: auto;
    padding: 15px;
    font-family: monospace;
}

main p{
    margin: 15px;
}



p.resultado{
    text-align: center;
    color: rgb(192, 137, 131);
}