*{
    margin: 0;
    padding: 0;
}

header{
    background-color: lightgray;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    text-decoration: underline;
}

main{
    width: 500px;
    margin: 25px 25px 25px 25px;
    background-color: lightgray;
    padding: 5px;
    float: left;
}

section{
    margin-block: 15px;
}

section a{
    text-decoration: none;
    color: darkred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 7px;
}

Section a:hover{
    background-color: white;
    border-radius: 7px;
    transition: .8s;
}