*{
    margin: 0;
    padding: 0;
}

header{
    background-color: lightgray;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    text-decoration: underline;
}