*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: black;
}

main{
    width: 800px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    margin-top: 15px;
    padding: 5px;
}

h1, h2{
    text-align: center;
    margin-bottom: 25px;
}

h2{
    color: rgb(105, 105, 105);
    margin-bottom: 10px;
}

p{
    text-align: justify;
    text-indent: 1em;
}

section{
    margin: 25px auto;
    width: 600px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-bottom: 7px;
}

section ul{
    margin-left: 50px;
}

.var-correta{
    color: greenyellow;
}

.var-errada{
    color: rgb(224, 41, 41);
}