*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: lightgrey;
    height: 35px;
    line-height: 35px;
}

header a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
}

h1{
    margin: 40px;
    text-align: center;
}

main{
    background-color: lightgray;
    width: 800px;
    margin: auto;
    padding: 15px;
}

main pre{
    width: 100px;
    background-color: white;
    padding-inline: 50px;
    margin: auto;
}

main h3{
    margin: 25px auto;
    text-align: center;
}

article{
    width: 320px;
    margin: auto;
}

article img{
    width: 300px;
    text-align: center;
    border-radius: 15px;
}